* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* --- GENERAL --- */

#container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
      to top,
      #111b21 0%,
      #111b21 85%,
      #005c4b 85%,
      #005c4b 100%
    );
}

#app {
    width: 80%;
    height: 90vh;
    background-color: #111b21;
    box-shadow: 0px 0px 8px 1px #111A20;
}

.header {
    height: 65px;
    padding: 0 1rem;
    background-color: #202c33;
}

.std-img {
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.icon {
    font-size: 25px;
}

a {
    color: #272727c4;
}

/* --- LEFT-BAR --- */

#chat-list {
    width: calc(100% / 3);
}

#notification {
    height: 65px;
    background-color: #8edafc;
    color: black;
}


#bell {
    background-color: white;
    color: #8edafc;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.chats-height {height: 65px;}

#search-section {
    height: 40px;
}

#search-bar {
    height: 25px;
    width: 85%;
    background-color: #202c33;
    border-radius: 5px;
}

#search-bar button {
    border: 0;
    height: 25px;
    width: 10%;
    background-color: #202c33;
    color: gray;
}

#search-bar input {
    border: 0;
    height: 25px;
    width: 90%;
    background-color: #202c33;
    color: gray;
}

/* --- RIGHT SECTION --- */

#sel-chat {
    width: calc(100% / 3 * 2);
    border-left: 1px solid gray;
}