/* --- FLEX --- */

.flex {display: flex;}

.jc-center {justify-content: center;}

.jc-between {justify-content: space-between;}

.jc-evenly {justify-content: space-evenly;}

.as-start {align-self: start;}

.ai-center {align-items: center;}

.fd-column {flex-direction: column;}

/* --- COLOR--- */

.c-white {color: white;}

/* --- PADDING --- */

.p-0-1 {padding: 0 1rem;}

/* Padding-left */

.pl-05 {padding-left: 0.5rem;}

.pl-1 {padding-left: 1rem;}
